:root {
  --base: #fa6a0b;
  --spacing: 10px;
  --blur: 0px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  color: rgb(17, 1, 1);
  background: #193549 color;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 25px;
}

h3 {
  font-family: "Permanent Marker", cursive;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
